<div class="container">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="card card-primary">
      <div class="card-header bg-primary text-white">
        {{poll.question}}
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of poll.options">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                value="{{item.value}}" (change)="onOptionSelect(item.value)">
              <label class="form-check-label" for="exampleRadios1">
                {{item.text}}
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-xs-center">
        <button type="submit" class="btn btn-primary btn-block btn-sm" (click)="vote()">
          Vote</button>
      </div>
    </div>

    <div style="display: block;">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="colors"> 
      </canvas>
    </div>
  </div>
</div>